.pet-view-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden; /* Allow for resizing */
}

.pet-view-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Can crop but no distortion */
	z-index: 0;
}

.pet-view-background-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.selector-button {
	all: unset;
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 1vh 0;
	margin: 0.5vh 0;
	border-radius: 8px;
	transition: background-color 0.2s ease;
	text-align: center;
	line-height: normal;
	font-size: 1.1em;
	background-color: var(
		--background-primary
	) !important; /* !important to override the default style */
	box-shadow: none !important;
}

.selector-button:hover {
	background-color: var(--background-secondary-alt) !important;
}

.idlecat,
.jumpcat {
	width: 32px; /* 32px normally */
	height: 32px;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	position: absolute;
	transform: translate(-50%, -50%); /* Moves based on 50% of the cat's own size*/
}

.idlecat {
	left: 30%;
	top: 80%;
	animation: idlecat 0.8s steps(7) infinite;
	background-size: 224px auto; /* 224px (update based on cat width) */
	z-index: 10;
}

.jumpcat {
	left: 70%;
	top: 80%;
	animation: jumpcat 1.0s steps(13) infinite;
	background-size: 416px auto;
	z-index: 11;
}

@keyframes idlecat {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -224px 0;
	} /* 7 frames x 32px = 224px (update based on cat width) */
}

@keyframes jumpcat {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -416px 0;
	}
}

